doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title React Weather
        link(href="/style.css" rel="stylesheet")
    body
        #app
        script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzh16sfwwZUJu2fj1XklOQR7U8zMvJl3s&callback=initMap")
        script(type="text/javascript" src="/vendor.js")
        script(type="text/javascript" src="/bundle.js")